*.tgz
*.swp
*.swo
README.html
pkgi.env
.pkgi
server/bin
server/etc
server/tmp
server/usr/bin/
server/usr/etc/
server/usr/lib/
server/usr/sbin/
server/var/cache/
server/var/lib/
server/var/lock/
server/var/log/
server/var/run/

